:root {
  --white: #f5f5f5;
  --transition-soft-3: .3s cubic-bezier(0.25, 0.8, 0.25, 1);


  --orange-300: #fba86f;
  --orange-400: #fa8e42;
  --orange-500: #fa8e42;
  --orange-600: #fa8e42;

}

:root {
  --color-body-background: var(--white);
  --sidebar-open-transition: var(--transition-soft-3);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  height: 100vh;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", serif;
}


.iconify {
  font-size: 1.35rem;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin-top: .3rem;
  font-weight: 600;
}


form {

  label+div {
    margin-bottom: .7rem !important;
  }

  label {
    display: block;
    margin-bottom: .4rem !important;
  }
}